<%- include('./_partials/header') %>

<div class="navbar-fixed valign-wrapper">
  <nav class="index">
    <a href="/" class="brand-logo">Music DB</a>
    <ul class="right">
      <li>Professional Musician?</li>
      <li><a href="/auth/facebook"><i class="material-icons left">account_circle</i>Log In</a></li>
    </ul>
  </nav>
</div>

<main class="index-main valign-wrapper">
  <div id="index-content">
    <h1>Search Musician Credits</h1>
    <p>(it's kinda like the IMDB for musicians)</p>
    <div class="row col 12">
        <div class="input-field col s12">
          <input type="text" id="autocomplete-input" class="autocomplete search-spotify" oninput="searchSpotify()">
          <label for="autocomplete-input left-align">Start typing...</label>
          <a href="/users/search-results" class="waves-effect waves-light btn">Search</a>
        </div>
    </div>
  </div>
</main>

</body>
</html>
