* {
  font-family: 'Montserrat', sans-serif;
}

nav, header, main, footer {
  padding-left: 330px;
  padding-right: 30px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  padding-left: 330px;
  padding-right: 30px;
  background-color: #282828;
}

main {
  flex: 1 0 auto;
  margin: 20px;
}

footer {
  background-color: #282828 !important;
}

h4 {
  font-weight: 300;
}

.btn {
  background-color: #1DB955;
}

li.active a {
  background-color: #1DB955;
}

.btn:hover {
  background-color: rgb(23, 159, 73);
}

a:hover {
  color: #1DB955;
}

.brand-logo {
  font-weight: 700
}

.side-nav {
  color: white;
  padding: 50px 20px;
  background-color: #121212;
}

.index {
  padding-left: 20px;
  padding-right: 30px;
}

.index-main {
  padding-left: 0; 
}

nav li {
  color: grey;
}

#index-content {
  margin: 0 auto;
  text-align: center;
}

nav.search-results, footer.search-results {
  padding: 0 30px;
}

main.search-results, footer.search-results {
  padding: 50px;
}

.credits-row {
  margin: 50px 20px;
}

.credits-page {
  margin: 50px 20px;
}

.credits-area {
  margin: 20px 0;
}

td {
  padding: 0 5px 0 10px;
}

.add-credit-row {
  display: inline;
}

.profile-pic {
  width: 200px;
}

#modal-credit {
  padding: 50px;
}

.modal-content h4 {
  color: white;
}

h1 {
  font-weight: 700;
}

.input-field input[type=text]:focus + label, 
.input-field .prefix.active {
  color:#00c853;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00c853;
}

@media only screen and (max-width : 992px) {
  nav, header, main, footer {
    padding-left: 0;
  }
}