nav, header, main, footer {
  padding-left: 330px;
  padding-right: 30px;
}

@media only screen and (max-width : 992px) {
  nav, header, main, footer {
    padding-left: 0;
  }
}

.side-nav {
  padding: 50px 20px;
}