<%- include('../_partials/header')%>

<div class="navbar-fixed valign-wrapper">
    <nav class="index">
        <a href="/" class="brand-logo">Music DB</a>
        <ul class="right">
        <li>Professional Musician?</li>
        <li><a href="/auth/facebook"><i class="material-icons left">account_circle</i>Log In</a></li>
        </ul>
    </nav>
</div>

<main class="search-results">
    <div>
        <a href="/"><i class="material-icons left">keyboard_backspace</i>Back to Search</a>
    </div>
    <br>
    <div class="row">
        <div class="col s7">
            <h5>Joe Shmoe</h5>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
            sed diam nonumy eirmod tempor invidunt ut labore et dolore 
            magna aliquyam erat, sed diam voluptua.
            </p>
            <a href="#">View Credits →</a>
            <br>
            <h5>Mr. Guy</h5>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                magna aliquyam erat, sed diam voluptua.
            </p>
            <a href="#">View Credits →</a>
            <br>
            <h5>Jane McGee</h5>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                magna aliquyam erat, sed diam voluptua.
            </p>
            <a href="#">View Credits →</a>
            <br>
            <h5>Bob Jones</h5>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                magna aliquyam erat, sed diam voluptua.
            </p>
            <a href="#">View Credits →</a>
            <br>
            <h5>Mrs. Lady</h5>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                magna aliquyam erat, sed diam voluptua.
            </p>
            <a href="#">View Credits →</a>
            <br>
            <ul class="pagination center">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
        <div class="card horizontal col s5">
            <div class="card-image">
                <img class="circle" src="/images/person-placeholder-sm.png">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>Joe Shmoe</h4>
                    <h5>Drummer</h5>
                    <p>Brief description about this result here. Maybe pull a couple top artists/albums/tracks</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn" href="/profile">View All Credits<i class="material-icons right">visibility</i></a>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../_partials/footer')%>