<%- include('../_partials/header') %>
<ul id="slide-out" class="side-nav fixed teal lighten-2">
    <li class="center-align"><img src="/images/person-placeholder.png" alt="profile-pic"></li>
    <li><h5 class="center-align">Joe Shmoe</h5></li>
    <li><p class="center-align">Hometown, ST</p></li>
</ul>
<div class="navbar-fixed valign-wrapper">
    <nav>
        <a href="#!" class="brand-logo">Music DB</a>
        <ul class="right hide-on-med-and-down">
            <div class="nav-wrapper">
                <li>    
                    <div class="center row">
                        <div class="col s12" >
                            <div id="topbarsearch">
                                <div class="input-field col s6 s12 white">
                                    <i class="black-text material-icons prefix">search</i>
                                    <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete black-text" >
                                </div>
                            </div>
                        </div>
                    </div>          
                </li>
                <% if (user) { %>
                    <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
                <% } else { %>
                    <li><a href="/auth/facebook"><i class="material-icons left">vpn_key</i>Login with Facebook</a></li>
                <% } %>
            </div>
        </ul>
    </nav>
</div>
<main class="credits-page">
    <div class="col s12">
        <ul class="tabs tab-demo z-depth-1">
            <li class="tab"><a href="#artists">Artists</a></li>
            <li class="tab"><a href="#albums">Albums</a></li>
            <li class="tab"><a href="#tracks">Tracks</a></li>
        </ul>
    </div>
    <div class="credits-area">
        <div id="artists" class="col s12">

                <div class="row">
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (2)</p>
                            <ul>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (3)</p>    
                            <ul>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (1)</p>
                            <ul>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (3)</p>
                            <ul>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (2)</p>
                            <ul>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (3)</p>    
                            <ul>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (1)</p>
                            <ul>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (3)</p>
                            <ul>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (2)</p>
                            <ul>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (3)</p>    
                            <ul>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (1)</p>
                            <ul>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card col s3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/beatles.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Artist Name<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Artist Name<i class="material-icons right">close</i></span>
                            <p>Credits (3)</p>
                            <ul>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                                <li>- Add a credit here</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <div id="albums" class="col s12">

            <div class="row">
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (2)</p>
                        <ul>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (3)</p>    
                        <ul>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (1)</p>
                        <ul>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (3)</p>
                        <ul>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (2)</p>
                        <ul>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (3)</p>    
                        <ul>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (1)</p>
                        <ul>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (3)</p>
                        <ul>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (2)</p>
                        <ul>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (3)</p>    
                        <ul>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (1)</p>
                        <ul>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
                <div class="card col s3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/album-placeholder.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Album Title<i class="material-icons right">more_vert</i></span>
                        <p>Artist Name</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Album Title<i class="material-icons right">close</i></span>
                        <p>Credits (3)</p>
                        <ul>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                            <li>- Add a credit here</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div id="tracks" class="col s12">
            <table class="highlight responsive-table">
                <thead>
                    <tr>
                        <th>Credit Type</th>
                        <th>Track Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                    </tr>
                </thead>
        
                <tbody>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">music_note</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">library_music</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons left">keyboard_voice</i></td>
                        <td>Track title here</td>
                        <td>Artist Name</td>
                        <td>Album Title</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<%- include('../_partials/footer')%>